# Gradle
.gradle
build

# Maven
target

# NPM
node
node_modules

# Log files
*.log

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# VS code
.project
.vscode

# INTELLIJ
.idea
*.iml
out

# Eclipse
.settings

# Mac
.DS_Store
